<!DOCTYPE html>
<html lang="ko">

	{% load static %}

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Speech to Text Conference</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'fonts.css' %}">
		<link rel="stylesheet" href="{% static 'custom.css' %}">

	</head>

	<body>


		<div class="wrap">


			<div class="sidebar side_collapse" id="Sidebar">

				<button class="side_btn hide-large close_btn" onclick="w3_close()"><i class="fas fa-times"></i></button>
				<h2>Conference</h2>

				<div class="bar_item_area">
					<a href="admin_board.html" class="bar-item"><i class="fas fa-home"></i> 홈으로</a>
					<a href="reg_meeting.html" class="bar-item active"><i class="fas fa-folder-plus"></i> 회의 만들기</a>
					<a href="meeting_log_list.html" class="bar-item"><i class="fas fa-search"></i> 회의록 보기</a>
				</div>

				<div class="logout_area">
					<a href="home.html" class="btn logout_btn">로그아웃</a>
				</div>

			</div>


			<!-- sidebar overlay-->
			<div class="overlay animate-opacity" onclick="w3_close()" id="Overlay"></div>


			<div class="small_bar navbar-fixed-top">
				<button class="side_btn open_btn hide-large" onclick="w3_open()"><i class="fas fa-bars"></i></button>
			</div>


			<div class="main">
				<div class="container-fluid">

					<button class="btn top_btn" onclick="topFunction()" id="topBtn" title="상단으로 이동하기"><i class="fas fa-arrow-alt-circle-up"></i></button>

					<div class="box_shadow">
						
						<h2>회의 내용구성</h2>

						<form action="/mvtapps/detail/" method="post">
							<div class="form-group">
								<label>회의 내용</label>
								<textarea class="form-control" rows="10"></textarea>
							</div>
							<div class="text-center">
								<button type="button" class="btn btn-default btn-lg cancle_btn">취소</button>
								<button type="submit" class="btn btn-default btn-lg active_btn">내용저장</button>
							</div>
						</form>

					</div>

				</div>
			</div>


		</div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="js/creative.js"></script>

	</body>
</html>