<!DOCTYPE html>
<html lang="ko">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Speech to Text Conference</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link rel="stylesheet" href="css/fonts.css">
		<link rel="stylesheet" href="css/custom.css">

	</head>

	<body>


		<div class="dialog_wrap">

			<div class="dialog_box col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

				<div class="dialog_header text-center">
					<h2>Login</h2>
				</div>

				<div class="dialog_content">
					<form>
	  					<div class="form-group">
							<input type="text" class="form-control" placeholder="아이디를 입력하세요">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="비밀번호를 입력하세요">
						</div>
						<!--
						<div class="form-group checkbox_area">
							<div class="checkbox">
								<label>
									<input type="checkbox">아이디 저장
								</label>
							</div>
						</div>
					-->
						<div class="form-group text-center line">
							<button type="button" class="btn btn-primary home_btn btn-block" onclick="location.href='admin_board.html'">로그인</button>
						</div>
						<div class="form-group text-center">
							<button type="button" class="btn btn-link" onclick="location.href='signup.html'">회원가입</button>
							<!--
							<button type="button" class="btn btn-link" onclick="location.href='change_password.html'">비밀번호 변경</button>-->
						</div>
					</form>
				</div>

			</div>

			<div class="footer">
				<h4>Speech to Text Conference</h4>
			</div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="js/creative.js"></script>


	</body>
</html>