<!DOCTYPE html>
<html lang="ko">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Speech to Text Conference</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link rel="stylesheet" href="css/fonts.css">
		<link rel="stylesheet" href="css/custom.css">

	</head>

	<body>

	
		<!-- 발언내용 수정하기 modal -->
		<div class="modal fade" id="mod_user_speech" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h3 class="modal-title">내용 수정하기</h3>
					</div>
					<div class="modal-body">
						<form>
		  					<div class="form-group">
								<textarea class="form-control" rows="4" value="발언 내용"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-lg cancle_btn" data-dismiss="modal">취소</button>
						<button type="button" class="btn btn-default btn-lg active_btn" data-dismiss="modal">다음</button>
					</div>
				</div>
			</div>
		</div>
		<!--end-->
		

		<div class="wrap">


			<div class="sidebar side_collapse" id="Sidebar">

				<button class="side_btn hide-large close_btn" onclick="w3_close()"><i class="fas fa-times"></i></button>
				<h2>Conference</h2>

				<div class="bar_item_area">
					<a href="admin_board.html" class="bar-item"><i class="fas fa-home"></i> 홈으로</a>
					<a href="reg_meeting.html" class="bar-item"><i class="fas fa-folder-plus"></i> 회의 만들기</a>
					<a href="meeting_log_list.html" class="bar-item"><i class="fas fa-search"></i> 회의록 보기</a>
				</div>

				<div class="logout_area">
					<a href="home.html" class="btn logout_btn">로그아웃</a>
				</div>

			</div>


			<!-- sidebar overlay-->
			<div class="overlay animate-opacity" onclick="w3_close()" id="Overlay"></div>


			<div class="small_bar navbar-fixed-top">
				<button class="side_btn open_btn hide-large" onclick="w3_open()"><i class="fas fa-bars"></i></button>
			</div>


			<div class="main">
				<div class="container-fluid">

					<button class="btn top_btn" onclick="topFunction()" id="topBtn" title="상단으로 이동하기"><i class="fas fa-arrow-alt-circle-up"></i></button>

					<a href="meeting_log_list.html" class="reply">
						<i class="fas fa-reply"></i>
					</a>

					<div class="box_shadow">
						<label class="date">0000-00-00</label>
						<h3 class="title">회의 주제 입력</h3>
						
					</div>

					<div class="box_shadow log_detail">

						<div class="line media">
							<div class="media-left media-top">
								<div class="left_size">
									<label class="name">회의내용</label>
									<label class="date">2020-02-14 03:44:20</label>
								</div>
							</div>
							<div class="media-body">
								<p class="contents">회의를 시작하겠습니다.<br>회의를 시작하겠습니다.<br>회의를 시작하겠습니다.<br>
								회의를 시작하겠습니다.</p>
							</div>
							<div class="media-right">
								<div class="right_size">
									<a href="#mod_user_speech" data-toggle="modal"class="mod_btn"><i class="fas fa-cog"></i></a>
									<a href="#" class="delete_btn"><i class="fas fa-times-circle"></i></a>
								</div>
							</div>
						</div>

						

					</div>

				</div>
			</div>


		</div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="js/creative.js"></script>

	</body>
</html>